{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    <title>Index</title>
{% endblock %}

{% block css %}{{block.super}}

{% endblock %}

{% block content %}
<section id="main-content">

	<section class="wrapper">
     <div>
     <a href="/config"> <input type="button" value="Configure User"> </a>
 </div>
		<div class="table-agile-info">

 <div class="panel panel-default">

    <div class="panel-heading">
     Instance
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
        <thead>
          <tr>
            <th data-breakpoints="xs">Size of fleet</th>
            <th>Type of instances</th>
            <th>Max price</th>
            <th data-breakpoints="xs">Request expiration time</th>
            <th data-breakpoints="xs">Status</th>
              <th data-breakpoints="xs">Action</th>


          </tr>
        </thead>
        <tbody>
        {% for da in data %}
          <tr data-expanded="true">
            <td>{{ da.sizeof_instance }}</td>
            <td>{{ da.typeof_instance }}</td>
            <td>{{ da.max_price }}</td>
              <td>{{ da.expirationtime }}</td>
            <td id="status_{{ forloop.counter }}">{{ da.status }}</td>
            <td><a><button class="btn btn-outline btn-default btn-xs" id ="btn_active_{{ forloop.counter }}_{{ da.id }}" style="border-radius: 70%; background: deepskyblue;">Active</button></a>
            <a><button class="btn btn-outline btn-default btn-xs" id ="btn_deactive_{{ forloop.counter }}_{{ da.id }}" style="border-radius: 70%; background-color: red;">Deactive</button></a>
            </td>
          </tr>

        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>

</section>

</section>
    <script>
    $(document).ready(function () {
    debugger
        updatestatus()
        deactive()

});
     function deactive() {
            $('[id^="btn_deactive_"]').click(function () {
                debugger
                var curid = this.id;
                var details = curid.replace('btn_deactive_', '').split('_');
                var numrow = details[0];
                var sid = details[1];
                var abc = 'deactive';
                var jsonurl =  "/deactive?id=" + sid;
                $.getJSON(jsonurl, function (data) {
                    debugger
                    var json = data.obj1
                    if (json == 'success') {


                        alert('Successfully Updated.');
                        $('#status_' + numrow).text(abc);
                    }
                    else {
                        alert('Oops somthing wrong please check and try again.');
                    }
                });


            });

        }
    function updatestatus() {
            $('[id^="btn_active_"]').click(function () {
                debugger
                var curid = this.id;
                var details = curid.replace('btn_active_', '').split('_');
                var numrow = details[0];
                var sid = details[1];
                var abc = 'active';
                var jsonurl =  "/active?id=" + sid;
                $.getJSON(jsonurl, function (data) {
                    debugger
                    var json = data.obj1
                    if (json == 'success') {
                        alert('Successfully Updated.');
                        $('#status_' + numrow).text(abc);
                    }
                    else {
                        alert('Oops somthing wrong please check and try again.');
                    }
                });


            });

        }
    </script>

	{% endblock %}
